# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib

# Distribution / packaging
.Python
env/
bin/
dist/
doc/
build/
*.egg-info/
*.egg

# virtualenv
venv/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
